body {
background-color: blanchedalmond;
}

img {
    width: 200px;
}

#navi {
background-color: burlywood;
padding: 10px;
}

#container {
    display: flex;
    padding: 10px;
}

#menu {
background-color: darkseagreen;
flex: 1;
padding: 10px;
margin: 5px;
}

#buttons {
    text-align: center;
}

#sights {
background-color: lightblue;
flex: 3;
padding: 10px;
margin: 5px;
text-align: center;
}

#third_column {
background-color: lightsalmon;
flex: 2;
padding: 10px;
margin: 5px;
text-align: center;
display: flex;
flex-direction: column;
}

#single_sight {
margin-top: 20px;
}

#footer {
background-color: thistle;
padding: 10px;
}

.stateClass:hover {
cursor: pointer;
}
.sightName:hover {
    cursor: pointer;
    }