body {
    background-image: url(https://images.unsplash.com/photo-1608640489329-1862b9d992da?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Work Sans', sans-serif;
}

img {
    width: 400px;
}

#navi:hover {
color: #5E8B7E;
}

#container {
    display: flex;
    padding: 10px;
}

#menu {
flex: 2;
padding: 10px;
margin: 5px;
}

#buttons {
    text-align: center;
}

#go-up {
    position: fixed;
    bottom: 20px;
    right: 30px;
    height: 30px;
    width: 150px;
}

.pic:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

a {
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
}

a:hover {
background-color: #A7C4BC;
padding: 5px;
}

button {
    border-radius: 5px;
}

button:hover {
    background-color: #A7C4BC;
}

input {
width: 80%;
padding: 5px;
border-radius: 3px;
}

#sights {
flex: 7;
padding: 10px;
margin: 5px;
text-align: center;
}

.stateClass:hover {
color: #5E8B7E;
}

#third_column {
flex: 3;
padding: 10px;
margin: 5px;
text-align: center;
display: flex;
flex-direction: column;
}

#footer {
padding: 20px;
background: linear-gradient(90deg, rgba(167,196,188,1) 0%, rgba(167,196,188,0) 100%);

}

.stateClass:hover {
cursor: pointer;
}

#title, .sightName {
    padding: 10px;
    background: linear-gradient(90deg, rgba(167,196,188,1) 0%, rgba(167,196,188,0) 100%);

}

#title:hover {
    cursor: pointer;
}
#new_form {
    position: fixed;
    
}

#sightName, #sightImage, #sightDetails {
    margin: 10px 0;
}

#create_new_sight {
    background: linear-gradient(90deg, rgba(167,196,188,1) 0%, rgba(167,196,188,0) 100%);

}